{% extends '::base.html.twig' %}

{%  block body %}
    {% if item %}
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a><b>{{ item.title }}</b></a></li>
                    <li><a href="{{ path('leo_and_leo_to_do_list.list_list_id', { 'id': item.mainlist.id }) }}">Return to the main list</a></li>
                    <li><a href="{{ path('leo_and_leo_to_do_list.item_item_edit', { 'id': item.mainlist.id, 'idItem': item.id }) }}">Edit the item</a></li>
                    <li><a href="{{ path('leo_and_leo_to_do_list.item_item_remove', { 'id': item.mainlist.id, 'idItem': item.id }) }}">Remove the item</a></li>
                </ul>
            </div>
        </nav>

        <p>{{ item.title }}</p>
        <p>{{ item.content }}</p>
        <p>{{ item.deadline.date|date('d/m/Y') }}</p>
        <p>{{ item.done }}</p>
    {% endif %}
{% endblock %}
